label {
  display: block;
}

fieldset {
  border: 0;
}

header {
  background-color: #70ad55;
  color: #fff;
}

select, input {
  border-color: #6e8c62;
  display: block;
}

html {
  font-family: "Noto Serif", serif;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
}

.green {
  background-color: #70ad55;
  color: #fff;
}

span {
  color: #70ad55;
}

hr {
  border-color: #70ad55;
}

input[type="checkbox"] + label::before {
  border-color: #6e8c62;
}

input[type="radio"] + label::before {
  border-color: #6e8c62;
}

textarea {
  min-height: 9em;
  border-color: #70ad55;
}
